#root {
  /* max-width: 1280px;  */
  width: 100%; /* Agregado para poder utilizar el maximo del ancho */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}
